@use "../../_borders.scss";
@use "../../_colors.scss";

$-base-icon-font-size: 24px;

%button {
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: $-base-icon-font-size
  }
}

.button {
  @extend %button;
  @extend %border;
  @extend %rounded;
  @extend %background-white-with-hover;

}

.rounded-full-button {
  @extend %button;
  @extend %border;
  @extend %rounded-full;
  @extend %background-white-with-hover;
}

.rounded-full-button-black {
  @extend .rounded-full-button;
  @extend %background-black-with-hover;

}

.circle-button {
  @extend %button;
  @extend %border;
  @extend %rounded-full;
  @extend %background-white-with-hover;

  width: 48px;
  height: 48px;

  &:hover, &:active {
    @extend %border;
  }
}

.circle-button-gray {
  @extend .circle-button;
  @extend %background-gray-with-hover;
  border-color: transparent;
}

.circle-button-md {
  @extend %button;
  @extend %rounded-full;
  @extend %shadow;
  width: 64px;
  height: 64px;
  padding: 24px;

  i {
    font-size: calc($-base-icon-font-size * (64px / 48px))
  }
}

.square-button {
  @extend %button;
  @extend %border;
  @include borders.rounded-md;
  @extend %background-white-with-hover;

  width: 29px;
  height: 29px;
  padding: 6px;
}

.square-button-group {
  @include borders.square-button-group;

  display: flex;
  flex-direction: column;

  button {
    @extend .square-button;
  }
}
