@use "../../_borders.scss";
@use "../../_colors.scss";
@use "../../_breakpoints.scss";
@use "../../_elevations.scss";
@use "../../_typography.scss";

@mixin button {
  @include typography.button;
  padding: 10px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoints.responsive(md) {
    padding: 10px 16px;
  }

  &:disabled {
    cursor: not-allowed;
  }

  i {
    @include typography.icon;
  }
}

@mixin rounded-full {
  @include button;
  @include borders.border;
  @include borders.rounded-full;
  @include elevations.on-map-button;
}

.button {
  @include button;
  @include borders.border;
  @include borders.rounded;
  @include colors.background-white-with-hover;
}

.rounded-full-button {
  @include rounded-full;
  @include colors.background-white-with-hover;
  justify-content: start;
  height: 32px;

  @include breakpoints.responsive(md) {
    height: auto;
  }

  i {
    padding-right: 8px;
  }
}

.rounded-full-button-black {
  @include rounded-full;
  @include colors.background-black-with-hover;
  width: 32px;
  height: 32px;

  span {
    display: none;
  }

  @include breakpoints.responsive(md) {
    width: auto;
    height: auto;
    justify-content: start;
    padding: 10px 16px;
    min-width: 180px;

    i {
      padding-right: 10px;
    }

    span {
      display: initial;
    }
  }
}

.user-button {
  @include rounded-full;
  @include colors.background-black-with-hover;
  padding: 0;
  height: 32px;
  width: 32px;

  @include breakpoints.responsive(md) {
    width: auto;
    padding: 0;
  }

  .user-icon-wrapper {
    height: 100%;

    .user-icon {
      @include borders.rounded-full;
      height: 100%;
      aspect-ratio: 1;
    }
  }

  span {
    display: none;
  }

  @include breakpoints.responsive(md) {
    span {
      display: initial;
      padding: 10px;
    }
  }
}

.circle-button {
  @include rounded-full;
  @include colors.background-white-with-hover;
  @include elevations.none;

  width: 48px;
  height: 48px;

  &:hover,
  &:active {
    @include borders.border;
  }
}

.circle-button-gray {
  @include rounded-full;
  @include colors.background-gray-with-hover;
  @include borders.none;
  @include elevations.none;

  width: 48px;
  height: 48px;
  padding: 16px;

  &:hover,
  &:active {
    @include borders.border;
  }
}

.circle-button-md {
  @include button;
  @include borders.rounded-full;
  @include colors.shadow;
  @include elevations.on-map-button;
  width: 32px;
  height: 32px;
  padding: 0;

  i {
    @include typography.icon;
  }

  @include breakpoints.responsive(md) {
    width: 64px;
    height: 64px;
    padding: 24px;
  }
}

.square-button {
  @include button;
  @include borders.border;
  @include borders.rounded-md;
  @include colors.background-white-with-hover;

  width: 29px;
  height: 29px;
  padding: 6px;
}

.square-button-group {
  @include borders.square-button-group;

  display: flex;
  flex-direction: column;
}

.login-button {
  @include button;
  @include borders.border;
  @include borders.rounded;
  @include colors.outline-with-hover;
  justify-content: left;
  width: 100%;
  height: 46px;

  i {
    margin-right: 30px;
  }
}

.clear-white-button {
  @include button;
  @include colors.clear-white;
}

.clear-black-button {
  @include button;
  @include colors.clear-black;
}
