@use "../../_colors.scss";
@use "../../_borders.scss";
@use "../../_elevations.scss";
@use "../../_breakpoints.scss";
@use "../../_typography.scss";

$-padding-wrapper: 16px;

.poi-infomation {
  @include borders.border;
  @include colors.background-white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoints.responsive(md) {
    height: 100%;
    width: 100%;
    max-width: 700px;
  }

  &-header {
    @include borders.border;
    @include borders.border-bottom-only;
    @include colors.background-white;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &-title {
      @include typography.heading3;
      width: 100%;
      flex-grow: 1;
      padding-left: $-padding-wrapper;
    }

    &-close {
      flex-shrink: 0;
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 64px * 0.75;
        height: 64px * 0.75;

        i {
          @include typography.attention-icon;
        }
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    padding: 20px 30px;
    overflow: scroll;
    row-gap: 30px;

    hr {
      @include colors.background-white;
    }
  }

  &-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &-img {
      width: 100%;
      height: auto;
    }

    &-description {
      @include typography.body1;
      width: 100%;
      height: auto;
    }
  }

  &-share {
    @include colors.background-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    hr {
      margin: calc(30px - 8px) 0;
    }

    p {
      @include typography.body1;
    }

    a,
    button {
      width: 100%;
      justify-content: left;
    }

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &-footer {
    @include borders.border;
    @include borders.border-top-only;
    @include colors.background-white;
    @include typography.body1;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    column-gap: 12px;
    padding: 0 $-padding-wrapper;

    a,
    button {
      &:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}
