@use "../../_colors.scss";
@use "../../_breakpoints.scss";

.direction {
  width: 64px;
  height: 64px;
  background-image: url("./direction.svg");
  transform: rotate(calc(var(--maplat-direction-rotate-as-degree-number, 0) * 1deg));

  @include breakpoints.responsive(md) {
    width: 130px;
    height: 130px;
  }
}
