@use "../../_borders.scss";
@use "../../_colors.scss";
@use "../../_elevations.scss";
@use "../../_breakpoints.scss";

$_padding: 30px;

.alert {
  @extend %background-black-translucent;
  @include elevations.attention;
  width: fit-content;
  height: fit-content;
  padding: $_padding;
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    @extend %border;
    @extend %border-right-only;
    height: 100%;
    font-size: 30px;
    padding-right: $_padding;
  }

  &-content {
    padding-left: $_padding;
  }
}
