@use "../../_borders.scss";
@use "../../_colors.scss";
@use "../../_elevations.scss";
@use "../../_breakpoints.scss";
@use "../../_typography.scss";

$-padding: 20px;

.alert {
  @include colors.background-black-translucent;
  @include elevations.attention;
  width: fit-content;
  height: fit-content;
  padding: $-padding;
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    @include borders.border;
    @include borders.border-right-only;
    @include typography.attention-icon;
    padding-right: $-padding;
  }

  &-content {
    @include typography.body1;
    padding-left: $-padding;
  }
}
