@use "../../_breakpoints.scss";

.drawer-example-contents {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.drawer-example-content {
  width: 100%;

  dt {
    font-size: 12px;
    margin-bottom: 8px;
  }

  dd {
    font-size: 16px;
  }
}

.drawer-example-content-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
