@use "../../_borders.scss";
@use "../../_colors.scss";
@use "../../_breakpoints.scss";
@use "../../_elevations.scss";

$-padding-vertical: 20px;
$-padding-horizontal: 30px;

.drawer {
  @include borders.rounded-xl-top;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
  transform: translate3d(0, 275px, 0);

  @include breakpoints.responsive(md) {
    @include borders.rounded-none;
    height: 100%;
    width: 100%;
    max-width: 700px;
    transform: none;
    padding: 0;
    top: 0;
  }

  &.drawer-close {
    display: none;
  }

  .drawer-bar {
    @include breakpoints.responsive(md) {
      display: none;
    }

    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: ns-resize;
    flex-shrink: 0;
    $-bar-height: 4px;

    i {
      width: 100%;
      max-width: 40px;
      height: $-bar-height;
    }

    i::before {
      @include borders.rounded-full;
      content: "";
      width: 100%;
      height: $-bar-height;
      background-color: rgb(0 0 0 / 14%);
    }
  }

  .drawer-header {
    @include colors.text;
    @include borders.border;
    @include borders.border-bottom-only;

    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: $-padding-vertical $-padding-horizontal;
    flex-shrink: 0;
  }

  .drawer-main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: $-padding-vertical $-padding-horizontal;

    @include breakpoints.responsive(md) {
      max-height: 100%;
    }
  }

  .drawer-close {
    display: none;

    @include breakpoints.responsive(md) {
      @include colors.background-white-with-hover;
      @include borders.border;
      @include borders.border-top-only;

      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
}
