@use "../../_colors.scss";
@use "../../_borders.scss";
@use "../../_elevations.scss";
@use "../../_breakpoints.scss";

$-padding-wrapper: 16px;

.search {
  @include borders.border;
  @include colors.background-white;
  border-color: #E3E3E3;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoints.responsive(md) {
    height: 100%;
    width: 100%;
    max-width: 700px;
  }

  &-header {
    @include borders.border;
    @include borders.border-bottom-only;
    border-color: #E3E3E3;

    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &-title {
      width: 100%;
      flex-grow: 1;
      padding-left: $-padding-wrapper;
      font-size: 14px;

      display: flex;

      i {
        border-right: 1px solid black;
      }

      input[type="search"] {
        width: 100%;
      }
    }

    &-close {
      flex-shrink: 0;
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: scroll;

    .search-result {
      width: 100%;
      padding: 16px 24px;
      display: flex;

      @include borders.border;
      @include borders.border-bottom-only;
      @include colors.shadow;

      &-body {
        width: calc(100% - 98px);
        padding-right: 24px;

        &-title {
          width: 100%;
          padding-bottom: 12px;
        }

        &-description {
          width: 100%;
          // stylelint-disable-next-line value-no-vendor-prefix
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      &-img {
        height: calc(130px - 16px * 2);
        width: calc(130px - 16px * 2);

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
