$white: #FFFFFF;
$black: #000000;

$black-72: rgb(0 0 0 / 72%);

$gray-5: #FAFAFA;
$gray-10: #F2F2F2;
$gray-12: #F5F5F5;
$gray-13: #F0F0F0;
$gray-17: #EBEBEB;
$gray-18: #E5E5E5;
$gray-20: #E3E3E3;
$gray-30: #D1D1D1;
$gray-35: #B5B5B5;
$gray-40: #A3A3A3;
$gray-42: #868686;
$gray-45: #656565;
$gray-50: #333333;
$gray-50-70: rgba($gray-50, 0.7);

:export {
  white: $white;
  black: $black;

  black-72: $black-72;

  gray-5: $gray-5;
  gray-10: $gray-10;
  gray-12: $gray-12;
  gray-13: $gray-13;
  gray-17: $gray-17;
  gray-18: $gray-18;
  gray-20: $gray-20;
  gray-30: $gray-30;
  gray-40: $gray-40;
  gray-42: $gray-42;
  gray-45: $gray-45;
  gray-50-70: $gray-50-70;
  gray-50: $gray-50;
}
