// 日本語 (Japanese)
$font-family-jp: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

// ハングル (Hangul)
$font-family-hangul: "Helvetica Neue", Arial, "Apple SD Gothic Neo", Gulim, "Malgun Gothic", sans-serif;

// 簡体字 (Simplified Chinese)
$font-family-sc: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

// 繁体字 (Traditional Chinese)
$font-family-tc: "Helvetica Neue", Arial, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", sans-serif;

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-10: 30px;

$font-size-20: 20px;
$font-size-28: 28px;
$font-size-36: 36px;

$font-size-44: 44px;

:export {
  font-family-jp: $font-family-jp;
  font-family-hangul: $font-family-hangul;
  font-family-sc: $font-family-sc;
  font-family-tc: $font-family-tc;

  font-size-1: $font-size-1;
  font-size-2: $font-size-2;
  font-size-3: $font-size-3;
  font-size-4: $font-size-4;
  font-size-10: $font-size-10;
  font-size-20: $font-size-20;
  font-size-28: $font-size-28;
  font-size-36: $font-size-36;
}
