$font-family-base: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

// ハングル (Hangul)
$font-family-hangul: "Helvetica Neue", Arial, "Apple SD Gothic Neo", Gulim, "Malgun Gothic", sans-serif;

// 簡体字 (Simplified Chinese)
$font-family-sc: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

// 繁体字 (Traditional Chinese)
$font-family-tc: "Helvetica Neue", Arial, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", sans-serif;

$font-size-1: 12pt;
$font-size-2: 14pt;
$font-size-3: 16pt;
$font-size-4: 18pt;

:export {
  font-family-base: $font-family-base;
  font-family-hangul: $font-family-hangul;
  font-family-sc: $font-family-sc;
  font-family-tc: $font-family-tc;

  font-size-1: $font-size-1;
  font-size-2: $font-size-2;
  font-size-3: $font-size-3;
  font-size-4: $font-size-4;
}
