@use "../../_colors.scss";
@use "../../_breakpoints.scss";

.login {
  @include colors.background-black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @include breakpoints.responsive(md) {
    width: 320px;
    height: auto;
  }

  &-close {
    margin-top: 4px;
    margin-right: 4px;
    margin-left: auto;
    flex-shrink: 0;

    i {
      width: 32px;
      height: 32px;
      margin-left: auto;
      margin-right: 0;
      font-size: 32px;
    }
  }

  &-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;

    flex-grow: 1;
    height: 100%;

    @include breakpoints.responsive(md) {
      flex-grow: initial;
      height: auto;
    }
  }
}
