@use "tokens/borders";

@mixin border {
  border-width: borders.$border-width-1;
  border-style: solid;
}

@mixin border-top-only {
  border-style: none;
  border-top-style: solid;
}

@mixin border-bottom-only {
  border-style: none;
  border-bottom-style: solid;
}

@mixin border-left-only {
  border-style: none;
  border-left-style: solid;
}

@mixin border-right-only {
  border-style: none;
  border-right-style: solid;
}

@mixin rounded {
  border-radius: borders.$border-radius-4;
}

@mixin rounded-md {
  border-radius: borders.$border-radius-6;
}

@mixin under-rounded-md {
  border-radius: borders.$border-radius-6 + 1px;
}

@mixin rounded-full {
  border-radius: borders.$border-radius-full;
}

@mixin border-radius-top($radius) {
  border-radius: $radius $radius 0 0;
}

@mixin rounded-md-top {
  @include border-radius-top(borders.$border-radius-6);
}

@mixin rounded-md-bottom {
  @include border-radius-bottom(borders.$border-radius-6);
}

@mixin border-radius-bottom($radius) {
  border-radius: 0 0 $radius $radius;
}

@mixin square-button-group {
  button {
    &:nth-child(1) {
      @include rounded-md-top;
      border-bottom: none;
    }

    &:nth-last-child(1) {
      @include rounded-md-bottom;
    }
  }
}
