@use "tokens/colors";

$border-color: var(--maplat-border-color, colors.$gray-40);
$square-border-color: var(--maplat-square-border-color, colors.$gray-10);

%background-white {
  background-color: colors.$white;
  color: colors.$gray-50-70;
  border-color: colors.$gray-30;
}

%background-white-with-hover {
  @extend %background-white;

  &:hover {
    color: colors.$gray-50;
    border-color: colors.$gray-50-70;
  }

  &:active {
    background-color: colors.$gray-12;
    border-color: colors.$gray-50-70;
  }
}

%background-gray {
  background-color: colors.$gray-13;
  color: colors.$gray-50-70;
}

%background-gray-with-hover {
  @extend %background-gray;

  &:hover {
    background-color: colors.$gray-13;
    color: colors.$gray-50-70;
    border-color: colors.$gray-30;
  }

  &:active {
    background-color: colors.$gray-18;
    color: colors.$gray-50-70;
    border-color: colors.$gray-30;
  }
}

%background-black {
  background-color: colors.$gray-50;
  color: colors.$gray-5;
}

%background-black-with-hover {
  @extend %background-black;
  border-color: transparent;

  &:hover {
    background-color: colors.$gray-45;
    color: colors.$gray-5;
    border-color: transparent;
  }

  &:active {
    background-color: colors.$gray-42;
    color: colors.$gray-5;
    border-color: transparent;
  }
}

%background-black-translucent {
  color: colors.$white;
  background-color: colors.$black-72;
  border-color: colors.$gray-35;
}

%shadow {
  background-color: colors.$white;

  &:hover {
    background: colors.$gray-12;
  }

  &:active {
    background: colors.$gray-17;
  }
}

:export {
  border-color: $border-color;
  square-border-color: $square-border-color;
}
