@use "tokens/colors";

$border-color: var(--maplat-border-color, colors.$gray-40);
$square-border-color: var(--maplat-square-border-color, colors.$gray-10);

@mixin text {
  background-color: colors.$white;
  color: colors.$gray-50;
  border-color: colors.$gray-20;
}

@mixin background-white {
  background-color: colors.$white;
  color: colors.$gray-50-70;
  border-color: colors.$gray-30;
}

@mixin background-white-with-hover {
  @include background-white;

  &:hover {
    color: colors.$gray-50;
    border-color: colors.$gray-50-70;
  }

  &:active {
    background-color: colors.$gray-12;
    border-color: colors.$gray-50-70;
  }
}

@mixin background-gray {
  background-color: colors.$gray-13;
  color: colors.$gray-50-70;
  border-color: colors.$gray-30;
}

@mixin background-gray-with-hover {
  @include background-gray;

  &:hover {
    background-color: colors.$gray-13;
    color: colors.$gray-50-70;
    border-color: colors.$gray-30;
  }

  &:active {
    background-color: colors.$gray-18;
    color: colors.$gray-50-70;
    border-color: colors.$gray-30;
  }
}

@mixin background-black {
  background-color: colors.$gray-50;
  color: colors.$gray-5;
}

@mixin background-black-with-hover {
  @include background-black;
  border-color: transparent;

  &:hover {
    background-color: colors.$gray-45;
    color: colors.$gray-5;
    border-color: transparent;
  }

  &:active {
    background-color: colors.$gray-42;
    color: colors.$gray-5;
    border-color: transparent;
  }

  &:focus-visible {
    outline: rgba(colors.$gray-50, 40%) solid 4px;
  }

  &:disabled {
    background-color: colors.$gray-50-70;
  }
}

@mixin background-black-translucent {
  color: colors.$white;
  background-color: colors.$black-72;
  border-color: colors.$gray-35;
}

@mixin background-black-translucent-with-hover {
  color: colors.$gray-5;
  background-color: colors.$black-80;

  &:hover {
    background-color: colors.$black-40;
  }

  &:active {
    background-color: colors.$black-25;
  }
}

@mixin outline-with-hover {
  color: colors.$gray-5;
  background-color: transparent;
  border-color: colors.$gray-40;

  &:hover {
    border-color: colors.$gray-35;
  }

  &:active {
    border-color: colors.$gray-30;
  }
}

@mixin shadow {
  background-color: colors.$white;

  &:hover {
    background: colors.$gray-12;
  }

  &:active {
    background: colors.$gray-17;
  }
}

@mixin layer-infomation {
  background-color: colors.$gray-47;
  color: colors.$gray-5;
}

:export {
  border-color: $border-color;
  square-border-color: $square-border-color;
}
