@use "tokens/colors";

$border-color: var(--border-color, colors.$gray-40);
$square-border-color: var(--square-border-color, colors.$gray-10);
$shadow-color: var(--shadow-color, colors.$black);

%background-white {
  background-color: colors.$white;
  color: colors.$gray-50-70;
}

%background-white-with-hover {
  @extend %background-white;
  &:hover {
    color: colors.$gray-50;
  }
  &:active {
    background-color: colors.$gray-12;
  }
}

%background-black {
  background-color: colors.$gray-50;
  color: colors.$gray-5;
}

%background-black-with-hover {
  @extend %background-black;
  &:hover {
    background-color: colors.$gray-45;
    color: colors.$gray-5;
  }
  &:active {
    background-color: colors.$gray-42;
    color: colors.$gray-5;
  }
}

:export {
  border-color: $border-color;
  square-border-color: $square-border-color;
  shadow-color: $shadow-color;
}
