@use "tokens/elevations";

@mixin none {
  box-shadow: elevations.$elevation-0;
}

@mixin on-map-button {
  box-shadow: elevations.$elevation-30;
}

@mixin on-map-information {
  box-shadow: elevations.$elevation-40;
}

@mixin attention {
  box-shadow: elevations.$elevation-50;
}
