@use "colors";
@use "tokens/borders";

@mixin border($color: colors.$border-color) {
  border: borders.$border-width-1 solid $color;
}

@mixin square {
  @include border;
  border-radius: borders.$border-radius-4;
}

@mixin rounded {
  @include border;
  border-radius: borders.$border-radius-full;
}
