@use "tokens/borders";

@use "colors";

@mixin border($color: colors.$border-color) {
  border: borders.$border-width-1 solid $color;
}

@mixin square {
  @include border(colors.$square-border-color);
  border-radius: borders.$border-radius-6;
}

@mixin square-button-group {
  button {
    &:nth-child(1) {
      border-radius: borders.$border-radius-6 borders.$border-radius-6 0 0;
      border-bottom: none;
    }

    &:nth-last-child(1) {
      border-radius: 0 0 borders.$border-radius-6 borders.$border-radius-6;
    }
  }
}


@mixin rect {
  @include border;
  border-radius: borders.$border-radius-4;
}

@mixin rounded {
  @include border;
  border-radius: borders.$border-radius-full;
}
