@use "sass:meta";
@use "tokens/typography";

.maplat {
  font-family: typography.$font-family-jp;
  position: relative;
  overflow: hidden;
  outline-offset: -1px;

  @include meta.load-css("../node_modules/destyle.css/destyle.css");
  @include meta.load-css("../node_modules/swiper/swiper-bundle.min.css");
  @include meta.load-css("./utilities");
  @include meta.load-css("./components");
  @include meta.load-css("./icons/maplat-icons.scss");
}
