@use "../../_colors.scss";
@use "../../_borders.scss";
@use "../../_breakpoints.scss";

.nav {
  @extend %background-white;
  width: 100%;
  max-width: 420px;
  height: 64px;
  padding: 25px 16px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);

  @include breakpoints.responsive(md) {
    @include borders.rounded-md;
  }

  display: flex;
  align-items: center;

  &-title {
    font-size: 14px;
  }

  &-icons {
    margin-left: auto;
    display: flex;

    i {
      font-size: 20px;
    }

    i + i {
      margin-left: 20px;
    }
  }
}
